@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
    ::-webkit-scrollbar {
        @apply w-1.5 h-1.5 bg-transparent;
    }
    
    ::-webkit-scrollbar-thumb {
        @apply bg-background/20 rounded-full;
    }

    html, body {
        @apply flex relative w-full h-full flex-col select-none;
    }

    body {
        @apply text-foreground bg-secondary font-medium select-none;
        font-family: poppins;
        -webkit-font-smoothing: antialiased;
    }

    img {
        @apply block;
        -webkit-user-drag: none;
    }

    button {
        @apply focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary;
    }

    dialog {
        @apply p-0 text-foreground bg-secondary rounded-2xl border-none select-none;
    }

    dialog::backdrop {
        @apply bg-black/50;
    }

    /* #region Themes */

    html, html[data-theme="light"] {
        --color-primary: 38 129 235; /* home */

        --color-foreground: 2 6 23; /* colors.slate.950 */
        --color-background: 248 250 252; /* colors.slate.50 */
        --color-secondary: 226 232 240; /* colors.slate.200 */

        --color-home: 38 129 235;
        --color-send: 255 59 93;
        --color-receive: 0 198 216;
        --color-settings: 67 56 202;
        --color-account: 235 117 14;
    }

    html[data-theme="dark"] {
        --color-foreground: 248 250 252; /* colors.slate.50 */
        --color-background: 2 6 23; /* colors.slate.950 */
        --color-secondary: 15 23 42; /* colors.slate.900 */
    }

    /* #endregion */

    @keyframes hueRotate {
        from {
            filter: hue-rotate(0deg);
        }
    
        to {
            filter: hue-rotate(360deg);
        }
    }

    @keyframes shrink {
        from {
            transform: scaleY(1);
        }
    
        to {
            transform: scaleY(0.5);
        }
    }

    @keyframes errorGlow {
        0% {
            @apply border-red-500/100;
        }

        100% {
            @apply border-red-500/20;
        }
    }
}